* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    color: inherit;
}
.container {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}
.userNameContainer {
    display: flex;
    align-items: center;
    margin: 10px 0 40px 0;
}
.listItemImage {
    display: block;
    min-width: 30px;
    height: 30px;
    background-color: #999999;
    border-radius: 50%;
}
.userName {
    display: inline-block;
    margin: 5px 0 0 10px;
    font-size: 10px;
    height: 20px;
}
.updatedTime {
    margin-left: 10px;
    font-size: 12px;
}
.textBody {
    margin-bottom: 20px;
}
.border {
    border-top: 0.1px solid gray;
    width: 100%;
    height: 1px;
}
/* スマホ用メディアクエリ */
@media screen and (max-width: 480px) {
    /* .container { */
    .articleDetailContainer {
        margin-top: 10px;
        width: 95%;
    }
}
